main{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 10rem 5vw 4rem 5vw;
}

.classes-img{
  width: 100%;
}

.booking-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-container p{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.booking-container a{
  color: rgb(103, 153, 204);
  font-size: 1.5rem;
}

.additional-info-container{
  color: white;
  font-size: 1.2rem;
}

.additional-info-container p{
  line-height: 1.7rem;
}

.trainers-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trainers-container p1{
  color: rgb(103, 153, 204);
  font-size: 1.5rem;
  font-weight: bold;
}

.trainers-container p{
  color: white;
  font-size: 1.2rem;
}