main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  padding: 10rem 2rem;
}

.p1{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.p2{
  color: rgb(103, 153, 204);
  font-size: 1.5rem;
  font-weight: bold;
}