body{
  background-color: rgb(250, 254, 251);
  font-family: Arial, Helvetica, sans-serif;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: rgb(199, 216, 239);
}