body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p{
  margin: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /*background-color: #04AA6D;*/
}

nav{
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-logo{
  height: 10vh;
  /*padding: 10px;*/
}

.navbar-option{
  color: rgb(48, 141, 70);
  font-size: 1.5rem;
  text-decoration: none;
  /*font-weight: bold;*/
  padding: 1rem;
}

main{
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-pic{
  width: 70vw;
}

.motto{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  width: 70vw;
  text-align: center;
}

.introduction{
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 70vw;
  text-align: center;
}

footer{
  height: 25vh;
  background-color: rgb(48, 141, 70);
  display: flex;
  justify-content: space-around;
}

.social-media-icon{
  height: 3rem;
}

