header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: all 0.5s ease; /*option: linear*/
}

.smaller-header{
  height: 8vh;
  background-color: #308d46;
}
.smaller-header nav li a{
  color: white;
}
.smaller-header .navbar-logo{
  height: 3rem;
}
.smaller-header .navbar-active{
  background-color: white;
  color: #308d46;
  transition: all 0.5s ease;
}

header nav{
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-logo{
  height: 5rem;
  transition: all 0.5s ease; /*option: linear*/
}

nav li a{
  color: rgb(48, 141, 70);
  font-size: 1.5rem;
  text-decoration: none;
  /*font-weight: bold;*/
  padding: 1rem;
  border-radius: 0.5rem;
}

.navbar-active{
  background-color: #308d46;
  color: white;
}

.flag{
  height: 1rem;
}