header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  min-height: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease; /*option: linear*/
  z-index: 20;
}

.nav-links{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.navbar-logo{
  height: 5rem;
  transition: all 0.3s ease; /*option: linear*/
}

.nav-links li a{
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5rem;
  transition: all 0.3s ease; /*option: linear*/
}

.hover{
  color: black!important;
  background-color: white;
}

.nav-active{
  color: black!important;
  background-color: white;
}

.flag{
  height: 1rem;
}

.hamburger-open{
  display: none;
  cursor: pointer;
  z-index: 30;
}
.hamburger-open div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger-close{
  display: none;
  cursor: pointer;
  z-index: 30;
}
.hamburger-close div{
  width: 40px;
  height: 3px;
  background-color: white;
  margin: 13px;
  transition: all 0.3s ease;
}
.cross-1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross-2{
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (min-width: 1051px){
  .smaller-header .nav-links li a{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.smaller-header .navbar-logo{
  height: 3rem;
}

.smaller-header{
  height: 9vh;
  background: black;
}

@media only screen and (max-width: 1300px){
  .nav-links li a{
    font-size: 1rem;
  }
  .navbar-logo{
    height: 4rem;
  }
}

@media only screen and (max-width: 1050px){
  .nav-links{
    position: fixed;
    bottom: 0;
    left: 100vw;
    height: 100%;
    width: clamp(50vw, 20rem, 100vw);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(103, 153, 204);
    transition: all 0.3s ease;
  }
  .nav-links.active {
    transform: translateX(-100%);
  }
  .nav-links li a{
    font-size: 1.5rem;
  }
  .hover{
    color: rgb(103, 153, 204)!important;
    background-color: white;
  }
  
  .nav-active{
    color: rgb(103, 153, 204)!important;
    background-color: white;
  }
  .flag{
    height: 1.5rem;
  }
  .navbar-logo{
    height: 3rem;
  }
 
  .hamburger-open{
    display: inline;
  }
  .hamburger-close{
    display: inline;
  }
}