main{
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-pic{
  width: 70vw;
}

.motto{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  width: 70vw;
  text-align: center;
}

.introduction{
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 70vw;
  text-align: center;
}