main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  position: relative;
  padding-bottom: 3rem;
  z-index: 1;
  /*background-color: rgb(16, 16, 16);*/
  background-color: rgb(50, 50, 50);
}

.darkened-pic{
  position: relative;
}

.index-pic{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 25% 50%;
}

.darkening{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 1));/**/
  /*background: linear-gradient(to bottom, rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 1));*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.darkening p{
  text-align: center;
  color: white;
  font-size: min(5rem, 15vw);
  font-weight: bold;
  padding: 2rem 5rem;
}

.darkening a{
  color: white;
  background-color: rgb(204, 50, 50);
  background-clip: text;
  text-decoration: none;
  font-size: min(2rem, 6vw);
  font-weight: bold;
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s;
  user-select: none;
}
@media(pointer: fine){
  .darkening a:hover{
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(204, 50, 50, 0.7);
  }
}


.btn-down{
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  z-index: 9;
  transform: translate(-50%, 0);
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}
.disappear{
  opacity: 0;
}
.arrow-down{
  width: 2rem;
}

.introduction{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 0;
}
.motto{
  color: rgb(103, 153, 204);
  font-size: min(4rem, 10vw);
  font-weight: bold;
  width: clamp(70vw, 60rem, 100vw);
  text-align: center;
}
.intro-text{
  color: white;
  font-size: min(2.5rem, 8vw);
  width: clamp(70vw, 60rem, 100vw);
  text-align: center;
}

.liget-boulder{
  color: rgb(103, 153, 204);
  font-weight: bold;
}

/*articles*/
.article-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article-container img{
  width: 30rem;
  max-width: 100vw;
  object-fit: cover;
  position: relative;
}

.text-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  transition: all 1s;
  z-index: 5;
}
.title{
  color: rgb(103, 153, 204);
  font-size: 2rem;
  font-weight: bold;
}
.paragraph{
  color: white;
  max-width: 40rem;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.text-container a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: fit-content;
  padding: 0.5rem;
  background-color: rgb(204, 50, 50);
  transition: all 0.3s;
  user-select: none;
}
@media(pointer: fine){
  .text-container a:hover{
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(204, 50, 50, 0.7);
  }
}

@media only screen and (max-width: 950px){
  .article-container{
    flex-direction: column;
  }

  .article-container img{
    order: 1;
  }
  .text-container{
    order: 2;
  }

  .paragraph{
    text-align: left;
  }

  .btn-down{
    bottom: 10vh;
  }
}
