main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: white;
}

.darkened-pic{
  position: relative;
}

.index-pic{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 25% 50%;
}

.darkening{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) 90%, rgba(255, 255, 255, 1));*/
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.darkening p{
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem 5rem;
}

.darkening a{
  color: white;
  background-color: rgb(204, 50, 50);
  background-clip: text;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 3rem;
  border: 2px solid transparent;
  transition: all 0.3s;
}
.darkening a:hover{
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(204, 50, 50, 0.7);
}


.motto{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  width: 70vw;
  text-align: center;
}

.introduction{
  color: black;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 70vw;
  text-align: center;
}