header{
  background-color: lightpink;
}

nav{
  background-color: lightblue;
}

.navbar-option{
  background-color: red;
}

footer{
  background-color: lightblue;
}

.social-media-icon-container{
  background-color: lightpink;
}

.quick-links{
  background-color: red;
}

.quick-contact{
  background-color: lightpink;
}